/* LGEI Text - body font */
@font-face {
  font-family: "LGEI Text";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/LGEIText-Light.woff2') format('woff2');
}

@font-face {
  font-family: "LGEI Text";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/LGEIText-Regular.woff2') format('woff2');
}

@font-face {
  font-family: "LGEI Text";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/LGEIText-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: "LGEI Text";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/LGEIText-Bold.woff2') format('woff2');
}

/* LGEI Headline - heading font */
@font-face {
  font-family: "LGEI Headline";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/LGEIHeadline-Light.woff2') format('woff2');
}

@font-face {
  font-family: "LGEI Headline";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/LGEIHeadline-Regular.woff2') format('woff2');
}

@font-face {
  font-family: "LGEI Headline";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/LGEIHeadline-Semibold.woff2') format('woff2');
}

@font-face {
  font-family: "LGEI Headline";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/LGEIHeadline-Bold.woff2') format('woff2');
}
